html {
    background-color: red;
}

body {
    background-color: black;
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.link {
    width: 100%;
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}