html {
    background-color: white;
}

body {
    padding-top: 20px;
    background-color: black;
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.link {
    width: 100%;
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

/* iPhone video section */

video {
    margin: 0 auto;
    width: 100%;
}